.git
.gitignore
.DS_Store
.next
node_modules
npm-debug.log
pnpm-lock.yaml

IekaSmartClass.Api/bin
IekaSmartClass.Api/obj
IekaSmartClass.Api/internal-nlog.txt
IekaSmartClass.Api/logs

storage
IekaSmartClass.Api/storage
backups

.vscode
.idea
